/* 
	Theme Name : Search
	Author : Search
	Version : 1.0
	Date : 14/01/2018
*/

/* Font Css */
@font-face {
    font-family: TrebuchetMs;
    src: url(../fonts/Trebuchet-MS.ttf);
}
a:hover {
	text-decoration:none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: TrebuchetMs;
}
p {
	margin: 0 0 15px 0;
	font-size: 14px;
    line-height: 20px;
}
/* Top Header Starts */
#banner-wrap {
	background: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.top-heading {
	padding: 10px 0;
}
#banner-wrap .navbar {
	padding:10px 0;
}
}
.img-responsive {
	width:100%;
}
.top-heading .navbar {
	margin-bottom:0;
	margin-top:5px;
}
.top-heading .search-location {
	margin-bottom:0;
	margin-top:10px;
}
.top-nav.navbar-nav {
	display:inline;
}
#banner-wrap .navbar-nav li {
	display:inline;
	padding: 0 5px;
}
#banner-wrap .navbar-nav li a {
	padding: 2px 10px;
    color: #fff;
    font-size: 14px;
    background: #ED2024;
	border:1px solid #ED2024;
    border-radius: 20px;
    text-decoration: none;
	font-family:TrebuchetMs;
	text-align: center;
}
#banner-wrap .navbar-nav li a:hover, #banner-wrap .navbar-nav li a:focus {
	background:#fff;
	color:#ED2024!important;
}
#banner-wrap .navbar-nav li a.icon {
	background-color: transparent;
    border: none;
    padding: 0;
}
/*#banner-wrap.bg_change {
    background-color: rgba(255, 255, 255, 0.94) !important;
    border-bottom: 1px solid #ed2024;
}*/
.bg_change {
    background: rgba(255, 255, 255, 0.94) !important;
    border-bottom: 1px solid #ed2024;
}
.navbar-nav li .translation {
	background: url(../img/change-acc.png);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-nav li .user {
	background: url(../img/user-icon.png);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: cover;
}
.container1 {
	width: 100%;
    margin: 0;
    padding: 0;
}
#banner-wrap .panel-default>.panel-heading {
    color: #333;
    background: #fff;
    border: 1px solid #ED2024;
    border-radius: 6px 6px 0 0;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
	padding: 5px 15px;
	font-family:TrebuchetMs;
}
#banner-wrap .panel-body {
    padding: 15px;
	border-bottom: 1px solid #ED2024;
	border-left: 1px solid #ED2024;
	border-right: 1px solid #ED2024;
	border-radius: 0 0 6px 6px;
}
#banner-wrap .panel-default {
	border:none;
}
#banner-wrap .panel {
	box-shadow:none;
}
.events-button {
	margin-top:5px;
}
.events-button .btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
}

/* Search Box Starts */
.search-location {
	width:100%;
	margin-top:10px;
}
.search-location .fa-map-marker {
	position:absolute;
	left:0;
}
.search-location .map-marker-icon {
	background: url(../images/icons/map-marker.svg);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    left: 25px;
    top: 21px;
}
.search-location .search-icon {
	background: url(../images/icons/search.svg);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    right: 25px;
    top: 21px;
}
.search-location .form-state {
    display: inline;
	position:relative;
    width: 20%;
    height: 34px;
    padding: 6px 12px;
	padding-left: 30px;
    font-size: 14px;
	font-family: TrebuchetMs;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
	border-left: 1px solid #ED2024;
    border-top: 1px solid #ED2024;
    border-bottom: 1px solid #ED2024;
    border-right: none;
    border-radius: 20px 0 0 20px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.search-location .form-location {
    display: inline;
	position:relative;
    width: 20%;
    height: 34px;
    padding: 6px 12px;
    margin-left: -4px;	
    font-size: 14px;
	font-family: TrebuchetMs;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ED2024;
    border-radius: 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.search-location .form-text {
    display: inline;
	position:relative;
    width: 60%;
    height: 34px;
    padding: 6px 12px;
	margin-left: -4px;
    font-size: 14px;
	font-family: TrebuchetMs;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
	border-left: none;
    border-top: 1px solid #ED2024;
    border-bottom: 1px solid #ED2024;
    border-right: 1px solid #ED2024;
    border-radius: 0 20px 20px 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.search-location .form-state:focus, .search-location .form-location:focus, .search-location .form-text:focus {
	outline: none;
}
.business-form {
	width:100%;
	margin-bottom: 20px;
}
#Login .modal-dialog, #QuickReply .modal-dialog {
    width: 400px;
    margin: 5% auto;
}
#AddBusiness .modal-dialog {
    margin: 5% auto;
}
#AddBusiness .modal-body h3 {
	margin:0 0 15px 0;
	text-align:center;
	font-size: 25px;
}
#AddBusiness .modal-body h3:after {
    border-top: 3px solid #E91F23;
    display: block;
    width: 68px;
    content: "";
    margin: 5px auto 0;
}

#SignUp .modal-dialog {
    width: 400px;
    margin: 5% auto;
}
#Login .modal-content, #SignUp .modal-content, #AddBusiness .modal-content, #QuickReply .modal-content {
	border-radius: 10px;
}
#Login .modal-header, #SignUp .modal-header, #AddBusiness .modal-header, #QuickReply .modal-header {
    padding: 0;
    border: none;
    box-shadow: 0 1px 10px #777;
	display: block;
}
#Login .modal-body, #SignUp .modal-body, #AddBusiness .modal-body, #QuickReply .modal-body {
    position: relative;
    padding: 25px 25px 0 25px;
}
#Login .modal-header h4, #AddBusiness .modal-header h4, #QuickReply .modal-header h4 {
	font-family: TrebuchetMs;
    font-size: 20px;
    text-align: left;
    background: #ED2024;
    color: #fff;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 9px 0 0 0;
}
#SignUp .modal-header h4 {
	font-family: TrebuchetMs;
    font-size: 20px;
    text-align: left;
    background: #ed921c;
    color: #fff;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 9px 0 0 0;
}
#Login .close, #SignUp .close, #AddBusiness .close, #QuickReply .close {
    font-size: 40px;
    font-weight: 100;
    padding: 0;
    line-height: 0;
    color: #333;
    text-shadow: none;
    filter: alpha(opacity=20);
    margin: 0;
    opacity: inherit;
    margin: 20px 10px 0 0;
}
#Login .modal-body .form-control, #AddBusiness .modal-body .form-control, #QuickReply .modal-body .form-control, .ProfileForm .form-control {
	border:1px solid #ED2024;
	font-size:12px;
}
#SignUp .modal-body .form-control {
	border:1px solid #ed921c;
	font-size:12px;
}
#AddBusiness select.form-control:not([size]):not([multiple]) {
    height: 34px;
}
#Login .modal-body .form-group label, #SignUp .modal-body .form-group label, #AddBusiness .modal-body .form-group label, #QuickReply .modal-body .form-group label {
	font-weight: 500;
    display: block;
    margin-bottom: 4px;
	font-size: 14px;
}
.ProfileForm label {
	font-size: 15px;
    margin-bottom: 5px;
}
#Login .form-group span, #SignUp .form-group span {
	font-size:12px;
	font-family: TrebuchetMs;
	color:#777;
}
.font-orange {
	color: #ed921c;
    margin-bottom: 20px;
    text-align: center;
}
.text-right {
	float:right;
}
#AddBusiness .form-group span {
	font-size:15px;
	font-family: TrebuchetMs;
	color:#777;
	display: block;
    text-align: right;
	margin-bottom:10px;
}
#Login .form-checkbox, #AddBusiness .form-checkbox {
	margin: 0;
    vertical-align: text-top;
}
#Login .btn {
    display: block;
    width: 50%;
    padding: 6px 12px;
    margin: 0 auto;
    font-size: 14px;
	font-family: TrebuchetMs;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 6px;
}
#SignUp .btn {
	display:inline-block;
	font-family: TrebuchetMs;
	width:45%;
}
#AddBusiness .btn {
	display:inline-block;
	font-family: TrebuchetMs;
}
.btn-footer {
	text-align: center;
	margin: 20px 0;
}
.btn-login {
	background:#ED2024;
	border:1px solid #ED2024;
	color:#fff;
}
.btn-login:hover {
	color:#fff;
}
.input-group-addon {
	border-left: 1px solid #ED2024;
	border-top: 1px solid #ED2024;
	border-bottom: 1px solid #ED2024;
	color:#000;
	background-color:#d4d4d4;
}
#SignUp .btn-login {
	float:right;
}
#Login .btn-signup, #SignUp .btn-signup {
	background:#fff;
	border:1px solid #ED2024;
	color:#000;
}
.btn-signup-one {
	background:#ed921c;
	border:1px solid #ed921c;
	color:#fff;
} 
.btn-signup-one:hover {
	background:#ed921c;
	border:1px solid #ed921c;
	color:#fff;
}
/*#Login .btn-signup:hover {
	background:#ED2024;
	border:1px solid #ED2024;
	color:#fff;
}*/
#Login .modal-footer, #SignUp .modal-footer {
    padding: 0;
    border: none;
}
#Login .modal-footer .google-plus, #Login .modal-footer .facebook, #SignUp .modal-footer .google-plus, #SignUp .modal-footer .facebook {
	width:50%;
	display: inline-block;
    float: left;
}
#Login .modal-footer .google-plus, #SignUp .modal-footer .google-plus {
    font-size: 12px;
    font-family: TrebuchetMs;
    color: #dc4e41;
    padding: 13px 10px;
    margin: 0;
	border-top: 2px solid #dc4e41;
	border-right: 1px solid #ccc;
}
.google-plus .googleplus-icon {
	background: url(../images/icons/google-plus.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    display: inline;
    padding: 8px 15px;
	margin-left: 5px;
}
#Login .modal-footer .facebook, #SignUp .modal-footer .facebook {
    font-size: 12px;
    font-family: TrebuchetMs;
    color: #3b5998;
    padding: 13px 10px;
    margin: 0;
	border-top: 2px solid #3b5998;
	text-align: left;
}
.facebook .facebook-icon {
	background: url(../images/icons/facebook.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    display: inline;
    padding: 8px 15px;
	margin-right: 5px;
}
.padding-right-zero {
	padding-right:0;
	margin-bottom: 15px;
}

/* Trending Caregories Starts Here */
#branding, #trending-caregories, #about, #particular {
	padding:2% 0;
	margin-top: 70px;
}
#trending-caregories h1, #branding h1, #about h1 {
	margin: 0 0 20px 0;
    text-align: center;
    font-size: 30px;
}
#trending-caregories h1:after, #branding h1:after, #about h1:after {
    border-top: 3px solid #E91F23;
    display: block;
    width: 50px;
    content: "";
    margin: 5px auto 0;
}

/* Branding Starts Here */
#branding .carousel-control.left, #branding .carousel-control.right {
	background-image:none;
	font-size: 10rem;
}
#branding .carousel-control  {
	width:3%;
	color:#ED2024;
	opacity:1;
	text-shadow:none;
	font-family: initial;
}
#branding .carousel-control:focus, #branding .carousel-control:hover {
	color:#ED2024;
}
#branding .carousel {
	margin-top:30px;
}


/* Footer Slider Starts */
@media screen and (min-width: 768px)
bootstrap.min.css:5516
.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
}
.carousel-control .fa-chevron-right, .carousel-control .icon-next {
    right: 50%;
    margin-right: -10px;
}
.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
#footer-slider, .carousel-control .fa-chevron-left:before, #footer-slider, .carousel-control .fa-chevron-right:before {
	font-size:60px;
}
#footer-slider .carousel-control.left, #footer-slider .carousel-control.right {
	background:none;
}
.a {
	background-image: linear-gradient(to right, rgba(0,0,0,.0001) 0, rgba(0,0,0,.5) 100%);
}

#footer-slider .carousel-inner .carousel-caption {
	padding-bottom: 20%;
}
#footer-slider .carousel-inner .carousel-caption h3 {
	font-size: 50px;
    text-shadow: 2px 2px 5px #000;
	font-family:TrebuchetMs;
}
#footer-slider .carousel-inner .carousel-caption p {
	font-size: 20px;
    text-shadow: 2px 2px 5px #000;
	font-family:TrebuchetMs;
}

/* Footer Top Starts */
#footer-top {
	background:#ED921C;
	border-top:10px solid #fff;
	padding:3% 0;
}
#footer-top h4 {
	color:#fff;
	margin-bottom:15px;
	font-family:TrebuchetMs;
}
#footer-top p {
	color:#fff;
	font-family:TrebuchetMs;
	margin-bottom: 20px;
}
#footer-top ul {
	padding:0;
	margin:0;
}
#footer-top ul li {
	list-style-type:none;
	padding:0;
	margin:0;
	color:#fff;
}
#footer-top ul li a {
	color:#fff;
	font-size:14px;
	text-decoration: none;
	font-family:TrebuchetMs;
}
.payment-list li {
	display:inline;
}
.payment-list img {
	width: 17%;
    margin-bottom: 5px;
}
.footer-category {
	margin-top: 20px;
    box-shadow: 0 0 10px #555;
}

/* Footer Bottom Starts */
#footer-bottom {
	background:#ED1C24;
}
.footer-bottom-border {
	border-top:2px solid #fff;
	padding:1.5% 0;
}
#footer-bottom ul {
	padding:0;
	margin:0;
}
#footer-bottom ul li {
	padding:0;
	margin:0;
	list-style-type:none;
	display:inline;
	color: #fff;
	font-family:TrebuchetMs;
}
#footer-bottom ul li a {
	color: #fff;
    padding: 0 5px;
    border-right: 1px solid #fff;
    text-decoration: none;
}
#footer-bottom .footer-social {
	float:right;
}
#footer-bottom .footer-social li {
	padding:0px 5px;
}

/* Particular Starts */
.filter-wrap {
	margin-top:15px;
	margin-bottom: 15px;
}
.filter-wrap ul {
	padding:0;
	margin:0;
}
.filter-wrap ul li {
	padding:0;
	margin:0;
	list-style-type:none;
	display:inline-block;
    font-family: TrebuchetMs;
}
.filter-wrap li.sort {
    padding: 10px 20px;
    box-shadow: 1px 1px 4px #999;
    border-radius: 4px;
    margin-right: 15px;
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
/*.filter-wrap li.sort:after {
	content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #dee5e7;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #dee5e7;
	
	right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}*/
.filter-wrap li.active a {
    color: #ED1C24;
}
.filter-wrap ul li a {
	display: block;
    padding: 12px 20px;
    box-shadow: 1px 1px 4px #999;
    border-radius: 20px;
    margin: 0 15px;
    color: #bbb;
	text-decoration: none;
}

/* About Css Starts */
#about .top-about {
	margin: 20px 0;
}
#about .bottom-about {
	margin:10px 0;
}
#about .img-rounded {
	border-radius:10px;
}
#particular .particular-right {
	margin-top: 15px;
}
#particular .right-wrap{
	box-shadow: 0px 0px 4px #999;
	border-radius: 10px;
}
.event-wrap {
	box-shadow: 1px 1px 10px #666;
	border-radius: 10px;
}
.events .special a:after {
    border-top: 3px solid #E91F23;
    display: block;
    width: 40px;
    content: "";
    margin: 0 auto 0;
}
.special-tab {
	display:flex;
}
.special-offers, .events {
	margin-bottom:20px;
}
.special-offers ul, .category ul {
	padding:0;
	background: #d4d4d4;
	border-radius: 10px 10px 0 0;
	margin-bottom: 5px;
	box-shadow: 0 2px 3px #ccc;
}
.events ul {
	padding:0;
	background: #d4d4d4;
	border-radius: 10px 10px 0 0;
	margin-bottom: 5px;
	display: flex;
}
.special-offers ul li, .category ul li, .events ul li {
	padding:0;
	list-style-type:none;
}
.special-offers ul li.special {
	width: 50%;
    display: inline-block;
	text-align: center;
}
.events ul li.special {
	width: 50%;
    display: inline-block;
	text-align: center;
}
.category ul li.special {
	 width:100%;
	 display:block;
	 text-align:center;
 }
.special-offers ul li a, .category ul li a, .events ul li a {
	display: block;
    font-size: 23px;
    font-family: TrebuchetMs;
    text-decoration: none;
    color: #555;
	border-radius: 10px 10px 0 0;
	padding: 10px 0;
	cursor:pointer;
}
.special-offers ul li a.active, .category ul li a.active {
	background:#ed921c;
	color:#000;
}
.events ul li a.active {
	background:#fff;
}

.events .tabs-content {
	padding:25px;
}
.img-shadow {
	box-shadow: 1px 1px 10px #666;
}
.tabs-content {
	padding:5px;
}
#JustIn {
	display:none;
}
#JustIn.active {
	display:block;
}
#Offers {
	display:none;
}
#Offers.active {
	display:block;
}
.category .tab-inner {
	overflow-y: scroll;
    height: auto;
    max-height: 500px;
}
.tab-inner ul {
	background: no-repeat;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
}
.tab-inner ul li {
	padding: 5px 3px;
}
.category .tab-inner ul li {
	font-size:14px;
}
.tab-inner ul input[type=radio] {
	margin:0;
}
.category {
	float: left;
    width: 100%;
	box-shadow: 0px 0px 4px #999;
    border-radius: 10px;
}
.tab-inner::-webkit-scrollbar-track, .user-review-wrap::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.tab-inner::-webkit-scrollbar, .user-review-wrap::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.tab-inner::-webkit-scrollbar-thumb, .user-review-wrap::-webkit-scrollbar-thumb
{
	background-color: #555;
}
.list-wrap .list {
	width:48%;
	display: inline-block;
	margin-bottom: 15px;
	box-shadow: 0px 0px 4px #999;
	border-radius: 10px;
}
.list-wrap .list-top {
    padding: 10px;
	display: flex;
}
.list-wrap .list-top .list-img {
	width:25%;
	margin-right: 10px;
    display: inline-block;
}
.list-wrap .list-content {
	position: relative;
    display: inline-block;
    width: 72%;
}
.list-content h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.list-content h4 a {
	color:#333;
}
.list-content ul {
	padding:0;
	margin:0;
}
.list-content ul li {
	padding: 0 0 10px 0;
    margin: 0;
    list-style-type: none;
    font-size: 13px;
}
.telephone-icon {
	background: url(../images/icons/list-icon-5.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px;
}
.address-icon {
	background: url(../images/icons/list-icon-6.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px;
}
.pin-icon {
	background: url(../images/icons/list-icon-7.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px;
}
.email-icon {
	background: url(../images/icons/list-icon-8.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px;
}
.web-icon {
	background: url(../images/icons/list-icon-9.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px;
}
.super-white-icon {
	background: url(../images/icons/list-icon-1-1-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px;
}
.note-icon {
	background: url(../images/icons/list-icon-10.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px;
}
.more {
	text-decoration:none;
	color:#999;
}
.list-wrap .list-bottom {
	box-shadow: 0px 0 12px #ccc;
    padding: 2px 10px;
	background: #f5fcf4;
    border-radius: 0 0 10px 10px;
}
.list-wrap .list:nth-child(odd) {
    margin-right: 3%;
}
.list-wrap .list:nth-child(even) {
    margin-right: 0;
}
.list-bottom .btn {
    display: inline-block;
    padding: 2px 13px;
    margin-bottom: 0;
    font-size: 11px;
    font-family: TrebuchetMs;
	text-transform:uppercase;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 20px;
}
.list-bottom ul {
	width:32.3333%;
	margin: 0;
	padding:0;
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
}
.list-bottom ul li {
	padding: 0;
    margin: 0;
	list-style-type:none;
	display: inline-block;
}
.list-bottom .btn-subscribe {
	background:#ed2024;
	color:#fff;
}
.list-bottom .like {
	padding: 0;
    margin: 0;
	text-align: center;
}
.list-bottom .like li {
	padding: 0;
    margin: 0;
	list-style-type:none;
	display: inline;
}
.list-bottom .like span.total-rating {
	display: block;
    line-height: 10px;
    text-align: center;
    font-size: 10px;
    font-family: TrebuchetMs;
}
.like-icon-small {
	padding:0 8px!important;
	margin-right:2px;
}
.like-icon {
	background: url(../images/icons/list-icon-11.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 10px;
}
.half-like-icon {
	background: url(../images/icons/list-icon-11-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1px 10px;
    width: 20px;
    height: 10px;
}
.no-like-icon {
	background: url(../images/icons/list-icon-11-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1px 10px;
    width: 20px;
    height: 10px;
}
.super-icon {
	background: url(../images/icons/list-icon-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1px 12px;
}
/*.super-icon:hover {
	background: url(../images/icons/list-icon-1-1.png);
	background-repeat: no-repeat;
    background-size: contain;
}*/
.chat-icon {
	background: url(../images/icons/list-icon-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1px 12px;
}
.share-icon {
	background: url(../images/icons/list-icon-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1px 12px;
}
.share-white-icon {
	background: url(../images/icons/list-icon-3-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1px 12px;
}
.map-location-icon {
	background: url(../images/icons/list-icon-4.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1px 12px;
}
.lg-icon {
	padding: 6px 15px;
}
.list-bottom .list-three {
	text-align: center;
}
.load-more-wrap {
	text-align:center;
	margin-top:15px;
}
.load-more-wrap .btn {
    display: inline-block;
    padding: 3px 25px;
    margin-bottom: 0;
    font-size: 14px;
    font-family: TrebuchetMs;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 20px;
}
.load-more-wrap .btn-more {
	background:#ed2024;
	color:#fff;
}

/* Single page Starts */
.single-main-image {
	margin-bottom:20px;
	background:url(../images/single-hotel.jpg);
}
.profile .profile-image {
	width: 15%;
    display: block;
    margin: 0 auto;
	padding: 20px 0 10px 0;
}
.profile-rating {
	text-align:center;
}
.md-like-icon {
	padding: 5px 15px;
}
.like-rating {
	color: #fff;
    font-family: TrebuchetMs;
    text-align: center;
    margin: 5px 0;
	display: block;
}
.vendor-social {
	position: absolute;
    right: 15px;
    background: rgb(73,19,13);
    top: 25%;
    border-radius: 5px 0 0 5px;
}
.vendor-icon {
	padding: 5px 13px;
}
.vendor-social ul {
	margin:0;
	padding:0;
}
.vendor-social ul li {
	margin:0;
	padding:7px 6px;
	list-style-type:none;
}
.profile h1 {
	color: #fff;
    font-family: TrebuchetMs;
    text-align: center;
    margin: 5px 0;
	font-size:45px;
}
.btn-wrap {
	padding: 7% 0 2% 0;
}
.btn-center {
	text-align:center;
}
.btn-red {
	display: inline-block;
    padding: 5px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
	background:#eb1f23;
	color:#fff;
    border: 1px solid transparent;
    border-radius: 30px;
	text-shadow: 1px 1px 7px #000;
}
.btn-edit {
	display: inline-block;
    padding: 2px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
	background:#eb1f23;
	color:#fff;
    border: 1px solid transparent;
    border-radius: 30px;
}
.btn-red:hover, .btn-edit:hover {
	color:#fff;
}
.btn-lg {
	font-size: 20px;
    text-shadow: 0 2px 10px #333;
}
.box {
	box-shadow: 1px 1px 10px #666;
	border-radius: 10px;
	padding: 15px;
}
.box-margin {
	margin-bottom:20px;
}
h3.header-title {
    margin: 0 0 15px 0;
    text-align: center;
	font-size: 22px;
}
h3.header-title:after {
    border-top: 3px solid #E91F23;
    display: block;
    width: 35px;
    content: "";
    margin: 5px auto 0;
}
.single-contact-details {
	padding:0;
	margin:0;
}
.single-contact-details li {
	padding: 8px 0;
	margin:0;
	list-style-type:none;
	font-size:14px;
}
.site-list {
	margin:0 0 0 25px;
}
.site-list li {
	padding:10px 0;
	margin:0;
	font-size:22px;
	list-style-type:disc;
}
.site-list .btn-visit {
    background: #ed2024;
    color: #fff;
}
.site-list .btn {
    display: inline-block;
	float: right;
    padding: 2px 15px;
    margin-bottom: 0;
    font-size: 10px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 20px;
}
.item-list {
	padding-left: 25px;
	margin:0 0 20px 0;
}
.item-list li {
	padding: 2px 0;
    margin: 0;
	font-size:14px;
	list-style-type: disc;
}
.sub-heading {
	margin-bottom: 5px;
    font-size: 17px;
}
.item-list li span {
	width: 35%;
    display: inline-block;
}
.rating {
	border-right:1px solid #ccc;
}
.rating-wrap {
	width:120px;
	display:block;
	margin:0 auto;
}
.rating h4 {
	display:block;
	text-align:center;
	font-family: TrebuchetMs;
}
.rating .rating-b {
	display: block;
    text-align: center;
    font-family: TrebuchetMs;
	font-size: 13px;
}
.trapezoid {
	border-bottom: 50px solid #ed2024;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 50px;
    border-radius: 25px 0 0 25px;
    display: inline-block;
}
.trapezoid .corner {
	border-bottom: 50px solid #ed2024;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    transform: rotate(180deg);
    margin-left: 30px;
}
.trapezoid-op {
	border-bottom: 50px solid #ed2024;
    border-left: 20px solid transparent;
    border-right: 0 solid transparent;
    height: 0;
    width: 20px;
    display: inline-block;
}
.trapezoid-op .corner {
	height: 50px;
	width: 50px;
	background-color: #ed2024;
	border-radius: 0 25px 25px 0;
}
.trapezoid span {
	position: absolute;
    transform: rotate(180deg);
    color: #fff;
    font-size: 35px;
    padding: 8px 10px;
	font-family: TrebuchetMs;
}
.trapezoid-op span {
	position: absolute;
    color: #fff;
    font-size: 35px;
    padding: 8px;
	font-family: TrebuchetMs;
}
.review {
	padding:0;
	margin:0;
}
.review li {
	list-style-type:none;
	padding:4px 0;
	margin:0;
	font-family: TrebuchetMs;
	font-size: 13px;
}
.review-progress {
    height: 5px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	width: 50%;
    display: inline-block;
}
.review-progress .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.five-star {
	background:#2ab908;
} 
.four-star {
	background:#77ff00;
} 
.three-star {
	background:#dfdf26;
} 
.two-star {
	background:#df5900;
} 
.one-star {
	background:#ed2024;
} 
.btn-share {
    padding: 15px 35px;
    margin: 0 auto;
    font-size: 19px;
    font-family: TrebuchetMs;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
	background-color: #ed2024;
	color:#fff;
    border: none;
    border-radius: 30px;
	transition:all 0.4s;
}
.btn-share:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.user-review-wrap {
	height: auto;
    overflow-y: scroll;
    max-height: 500px;
	width: 90%;
    margin: 0 auto;
}
.user-icon {
	background: url(../images/icons/male-avatar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}
.user-icon-wrap {
	display: inline-block;
    border: 1px solid #777;
    border-radius: 50%;
	background-color: #fff;
}
.user-review {
	margin-bottom:5px;
}
.user-review-left {
	width:30%;
	display:inline-block;
}
.user-details {
	display:inline-block;
	vertical-align: super;
}
.user-details h4 {
	margin: 0 0 15px 0;
}
/*.user-review:after {
	border-bottom: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 90%;
    z-index: -1;
}*/
.user-review-right {
	width:69%;
	display:inline-block;
	background: #fff;
    padding: 10px;
	box-shadow: 0 4px 15px #bbb;
	border-radius: 5px;
}
.live {
	font-family:TrebuchetMs;
	font-size: 10px;
    color: #aaa;
	display: block;
}
.live-icon {
	width: 6px;
    height: 6px;
    background: #aaa;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
	margin-right:5px;
}

/* Menu */
@media (max-width: 600px) {
	.row {
		display:flex;
		flex-basis:0;
		flex-wrap:wrap;
	}
	.order-1 {
		order:-1;
	}
	.order-2 {
		order:1;
	}
	.order-3 {
		order:2;
	}
	.main-menu .navbar {
		margin:0;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-nav li {
		padding:0;
		display:inline-flex;
	}
	.navbar-nav li a {
		padding:3px 5px;
		line-height: initial;
	}
	.main-menu ul li {
		margin:0;
	}
	#banner-wrap .navbar-nav li {
		padding: 0;
		display: inline-block;
	}
	.list-wrap .list {
		width: 100%;
	}
	.super-icon, .chat-icon, .share-icon, .map-location-icon {
		padding:0 8px;
	}
	.filter-wrap li.sort {
		margin: 0 5px 10px 0;
		padding: 8px 15px;
		font-size: 14px;
	}
	.filter-wrap ul li a {
		margin: 0 5px 10px 0;
		padding: 8px 15px;
		font-size: 14px;
	}
}
@media (max-width: 992px) {
	.row {
		display:flex;
		flex-basis:0;
		flex-wrap:wrap;
	}
	#branding, #trending-caregories, #about, #particular {
		margin-top: 140px;
	}
}

@media (min-width: 1100px) {
	#branding, #trending-caregories, #about, #particular {
		margin-top: 50px;
	}
}

.box-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 1200px) {
	.box-container {
		width: 1300px;
	}
}
@media (min-width: 992px) {
	.box-container {
		/*width: 970px;*/
	}
}
@media (min-width: 768px){
	.box-container {
		/*width: 750px;*/
	}
}

.insight-slider {
	width:80%;
	margin:0 auto;
}
.insight-slider .cat-box img {
	height:100%;
}
.img-we-offer{
	width: 60%;
    margin: 0 auto;
}
.middle-btn {
	float:none!important;
	margin:0 auto;
}
.modal-background {
	z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.5);
}
h2.heading {
	font-size: 30px;
	margin: 0 0 20px 0;
}
.page-event .test-detail img {
	height:100%;
}
.page-event .slide-bottom-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
	filter: opacity(96%);
}
.page-event .slide-bottom-box span {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 10px 0 20px;
}
.page-event .slide-bottom-box span.small-span {
	font-size:23px;
	padding:0 0 20px;
}
.page-event .slide-bottom-box span.small-span-1 {
	font-size:23px;
	padding:0 0 50px;
}
.page-event .fa-angle-left, .page-event .fa-angle-right {
	font-size: 5pc;
}
.event-tab {
	display: flex;
    margin-top: 15px;
}
.event-tab li {
	width: 50%;
    text-align: center;
    font-size: 30px;
	cursor:pointer;
	color: #999;
}
.event-tab li.active {
	color:#000;
}
.event-tab li:after {
    border-top: 2px solid #E91F23;
    display: block;
    width: 35px;
    content: "";
    margin: 5px auto 0;
}
#UpComingEvent {
	display:none;
}
#UpComingEvent.active {
	display:block;
}
#OnGoingEvent {
	display:none;
}
#OnGoingEvent.active {
	display:block;
}
.heading-bar:after {
	border-top: 2px solid #E91F23;
    display: block;
    content: "";
    margin: 5px 0 0;
}
.heading-social {
	display:inline-block;
	float:right;
}
.heading-social li {
	font-size: 14px;
    display: inline-block;
	vertical-align: middle;
}
.img-background {
	background: url(../img/banner-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.panel-profile {
    box-shadow: 0px 0px 6px #999;
    border: none;
	border-radius:4px 4px 10px 10px;
}
.panel-profile>.panel-heading {
	color: #000;
    background-color: #ed921c;
    font-size: 20px;
    text-align: center;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	box-shadow: 0 1px 5px #999;
	font-weight: 600;
}
.panel-body .heading {
	font-size: 21px;
    margin-bottom: 15px;
}
.profile-body {
	margin-left:15px;
}
.profile-body li a {
	display: block;
    padding: 8px 0;
    color: #333;
    font-size: 16px;
}
.profile-body li a.active {
	color:#3b5998;
}
.stuffs-body li a{
	display: block;
    padding: 8px 0;
    color: #333;
    font-size: 20px;
}
.margin-top-15 {
	margin-top:15px;
}
.UploadFile {
	box-shadow:0 2px 10px #999;
	padding:10px;
	border-radius:10px;
}
.filename {
	display:block;
	font-size:25px;
	padding-top:10px;
	text-align:center;
}
.fileimage {
	height: 120px;
    width: 120px;
    border: 1px solid #333;
    border-radius: 50%;
    margin: 0 auto;
}
.inputfile {
        width: 0.1px;
    height: 0.1px;
    opacity: 0;
    /* overflow: hidden; */
    /* position: absolute; */
    z-index: -1;
}
.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}
.inputfile + label {
   max-width: 80%; */
    /* font-size: 1.25rem; */
    /* font-weight: 700; */
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    cursor: pointer;
    /* display: inline-block; */
    /* overflow: hidden; */
    padding: 10px;
    border-radius: 50%;
}
