@media (max-width: 1199px) {
    #trend-cat .owl-prev, #trend-cat .owl-next,
    #citySlider .owl-prev, #citySlider .owl-next,
    #brandSlider .owl-prev, #brandSlider .owl-next {
        font-size: 60px;
    }

    #trend-cat .owl-prev,
    #brandSlider .owl-prev {
        left: -45px;
    }

    #trend-cat .owl-next,
    #brandSlider .owl-next {
        right: -45px;
    }

    #citySlider .owl-prev {
        left: 45px;
    }

    #citySlider .owl-next {
        right: 45px;
    }
    .sidebar-main {
        top: 45px;
    }
    .namma-slides{
        top: 135px;
    }
    .namma-box{
        top: 210px;
    }
    .social-sidebar{
        top: 350px;
    }
    .social-sidebar.marginTop {
        top: 365px;
    }
}

@media (min-width: 992px) {
    .event-fixed-bar{
        display: none;
    }
}

@media (max-width: 991px) {
    .main-menu .navbar-default .navbar-brand a img {
        height: 35px;
        object-fit: cover;
        display: block;
        margin: 10px auto 0;
    }

    .header-bg {
        height: 1048px;
    }


    .sidebar-main .sidebar-box {
        position: absolute;
        left: -1000px;
        width: 250px;
        z-index: 1000;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .sidebar-main .user-pro {
        position: absolute;
        left: -1000px;
        width: 250px;
        z-index: 1000;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .closeTab {
        display: none !important;
    }

    #brandSlider .owl-dots {
        display: none;
    }

    .main-menu {
        background-color: rgb(245, 245, 245);
        padding-bottom: 10px;
    }

    .social-sidebar.marginTop {
        top: 380px;
    }

    .eventShow {
        left: 0 !important;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        z-index: 10000;
        top: 52px;
    }

    .closeEvent {
        left: -1000px !important;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .event-fixed-bar {
        position: fixed;
        left: -30px;
        top: 170px;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(90deg);
        border: 1px solid #ed2024;
        z-index: 1000;
        padding: 7px 7px 20px;
        background-color: #ed2024;
        border-radius: 6px 6px 0px 0px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .event-fixed-bar ul li a {
        color: #ffffff;
        text-decoration: none !important;
        font-size: 18px;
    }

    .event-fixed-bar.just-box {
        top: 245px;
        border-radius: 6px 0px 0px 0px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .event-fixed-bar.offer-box {
        top: 311px;
        left: -28px;
        border-radius: 0px 6px 0px 0px;
        border-left: 1px solid #fff;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    .namma-slides{
        top: 160px;
    }
    .namma-box{
        top: 217px;
    }

    .widget-box {
        margin-bottom: 20px;
    }

    .footer-box ul li:last-child a {
        margin-top: 12px;
        display: block;
    }

    .footer-box ul li:nth-of-type(3):after {
        display: none;
    }

    .map-right {
        padding-left: 15px;
    }
    .namma-box ul li a {
        font-size: 18px;
        color: #fff;
    }

    .namma-box {
        right: -75px;
        padding: 3px 6px 12px;
        background-color: #ed2024;
        border-radius: 6px 6px 0px 0px;
    }

    .namma-box:hover {
        background-color: #ffffff;
    }

    .namma-box:hover ul li a {
        color: #ed2024 !important;
    }

    .event-box, .user-pro {
        padding: 8px 0;
    }

    .event-box h3 {
        font-size: 18px;
        cursor: pointer;
    }

    .social-sidebar {
        top: 327px;
        border-radius: 6px 0px 0px 6px;
    }

    .social-sidebar ul li a img {
        height: 20px;
        object-fit: cover;
    }

    .mobile-logo-box a img {
        height: 33px;
        object-fit: cover;
    }

    .user-pro .nav-tabs li a{
        cursor: pointer !important;
    }
    .trend-cat .container,.brand-sec .container,.widget-sec .container,.footer-sec .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .social-sidebar{
        padding: 2px 2px 5px;
    }

}

@media (min-width: 768px) {
    .menu-box {
        padding-left: 0;
    }

    .logo-main {
        padding-right: 0;
    }

    .main-menu .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 190px;
        text-align: center;
        padding: 0;
    }

    .main-menu .navbar > .container .navbar-brand-centered,
    .main-menu .navbar > .container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }

    .business-btn, .about-btn {
        margin-top: 15px;
    }

    .main-menu .navbar-default .navbar-nav li:last-child a {
        padding-left: 10px;
    }

    .main-menu .navbar-default .navbar-nav li:first-child a {
        padding-right: 10px;
    }

    .banner-sec .col-md-3 {
        width: 22%;
        padding-left: 0;
    }

    .mobile-menu-main {
        display: none;
    }

}

@media (max-width: 767px) {

    .search-sec {
        margin-top: 50px;
    }

    .mobile-logo-box, .mobile-menu ul li {
        float: left;
    }

    .main-menu ul li a img {
        margin-top: -5px;
    }

    .mobile-menu {
        float: right;
        margin: 9px 0;
    }

    .main-menu ul li a {
        margin-left: 0;
    }

    .main-menu ul li {
        margin-left: 5px;
    }

    .mobile-menu-main {
        padding: 0 15px;
    }

    .desktop-menu {
        display: none;
    }

    #brandSlider .owl-nav.disabled {
        display: none;
    }

    .trend-cat h2, .brand-sec h2 {
        font-size: 30px;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .trend-cat h2:before, .brand-sec h2:before {
        content: '';
        width: 45px;
        height: 3px;
        left: 41%;
    }

    .header-bg {
        height: 880px;
    }

    .cat-bottom a {
        font-size: 18px;
    }

    #citySlider .owl--text h1 {
        margin-bottom: 10px;
        font-size: 40px;
    }

    #citySlider .owl--text p {
        font-size: 18px;
    }

    .footer-social ul {
        float: left;
        margin-top: 15px;
    }

    .footer-social ul li {
        margin-left: 0;
        margin-right: 20px;
    }
    img.map {

        opacity: 0;
    }

    .popover {
        position: fixed;
        top: 50% !important;
        left: 50% !important;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 290px;
        width: 100%;
    }
    .popover.bottom>.arrow{
        display: none;
    }
    .crossIcon{
        display: block;
    }
}

@media (min-width: 601px) {
    .xs-mobile-box {
        display: none;
    }
}

@media (max-width: 600px) {
    .main-menu ul li a {
        font-size: 12px;
    }

    .mobile-logo-box {
       width: 100%;
        margin-bottom: 10px;
    }

    .user-login {
        position: absolute;
        right: 15px;
        top: 6px;
    }

    .mobile-menu {
        float: none;
        margin: 9px auto 0;
        display: table;
    }

    .mobile-menu ul li {
        margin-bottom: 11px;
    }

    .search-sec {
        margin-top: 0px;
    }

    .main-menu .navbar-search button {
        font-size: 12px;
    }

    .place-box, .city-box {
        width: 95px !important;
    }

    .place-box button:before {
        left: 7px;
        font-size: 15px;
        top: 2px;
    }

    .category-box {
        padding: 15px 10px;
    }

    .map-img {
        max-width: 155px;
    }

    img.map {
        width: 100%;
        margin-top: 30px;
        margin: 30px auto 0;
        display: block;
    }

    .map-img ul li:nth-child(1) a {
        top: 29px;
        right: 0;
    }

    .map-img ul li:nth-child(2) a {
        top: 90px;
        right: 0;
    }

    .map-img ul li:nth-child(3) a {
        top: 118px;
        right: 79px;
    }

    .map-img ul li:nth-child(4) a {
        top: 172px;
        right: 6px;
    }

    .map-img ul li:nth-child(5) a {
        top: 165px;
        right: 158px;
        left: auto;
    }

    .map-img ul li:nth-child(6) a {
        top: 185px;
        right: 78px;
    }

    .map-img ul li:nth-child(7) a {
        top: 204px;
        right: 20px;
    }

    .map-img ul li:nth-child(11) a {
        top: 279px;
        right: auto;
        left: -84px;
    }

    .map-img ul li:nth-child(10) a {
        top: 266px;
        right: 107px;
    }

    .map-img ul li:nth-child(9) a {
        top: 252px;
        right: 46px;
    }

    .map-img ul li:nth-child(8) a {
        top: 269px;
        right: 27px;
    }

    .map-img ul li:nth-child(12) a {
        top: 293px;
        right: 186px;
        left: auto;
        z-index: 11;
    }

    .map-img ul li:nth-child(13) a {
        top: 326px;
        right: auto;
        left: -58px;
        z-index: 10;
    }

    .map-img ul li:nth-child(16) a {
        top: 356px;
        right: 48px;
    }

    .map-img ul li:nth-child(14) a {
        top: 346px;
        right: -4px;
    }

    .map-img ul li:nth-child(15) a {
        top: 367px;
        right: 103px;
        z-index: 10;
    }

    .map-img ul li:nth-child(16) a {
        top: 356px;
        right: 48px;
    }

    .map-img ul li:nth-child(17) a {
        top: 440px;
        right: 42px;
        z-index: 10;
    }

    .map-img ul li:nth-child(18) a {
        top: 432px;
        right: 178px;
        z-index: 11;
    }

    .map-img ul li:nth-child(28) a {
        top: 425px;
        right: -123px;
        z-index: 10;
    }

    .map-img ul li:nth-child(25) a {
        top: 427px;
        right: -11px;
        z-index: 12;
    }

    .map-img ul li:nth-child(29) a {
        top: 463px;
        right: -117px;
    }

    .map-img ul li:nth-child(27) a {
        top: 474px;
        right: -90px;
        z-index: 11;
    }

    .map-img ul li:nth-child(23) a {
        top: 472px;
        right: 66px;
        z-index: 10;
    }

    .map-img ul li:nth-child(19) a {
        top: 506px;
        right: 129px;
        z-index: 11;
    }

    .map-img ul li:nth-child(26) a {
        top: 506px;
        right: -82px;
        z-index: 12;
    }

    .map-img ul li:nth-child(24) a {
        top: 527px;
        right: 3px;
        z-index: 13;
    }

    .map-img ul li:nth-child(20) a {
        top: 545px;
        right: 96px;
        z-index: 10;
    }

    .map-img ul li:nth-child(21) a {
        top: 564px;
        right: 42px;
    }

    .map-img ul li:nth-child(22) a {
        top: 597px;
        right: -60px;
    }
    .main-menu {
       padding-top: 4px;
        padding-bottom: 2px;
    }
    .event-fixed-bar{
        padding: 3px 4px 20px !important;
    }
    .event-fixed-bar.offer-box {
        top: 306px;
    }

}

@media (max-width: 479px) {
    .widget-sec .xs-full {
        width: 100%;
    }
    .map-img ul li:nth-child(1) a img {
        width: 70px;
    }
    .map-img ul li:nth-child(2) a img {
        width: 110px;
    }
    .map-img ul li:nth-child(2) a {
        top: 72px;
    }
    .map-img ul li:nth-child(3) a {
        top: 95px;
        right: 63px;
    }
    .map-img ul li:nth-child(3) a img,.map-img ul li:nth-child(7) a img {
        width: 95px;
    }
    .map-img ul li:nth-child(4) a {
        top: 131px;
        right: -2px;
    }
    .map-img ul li:nth-child(4) a img {
        width: 103px;
    }
    .map-img ul li:nth-child(7) a {
        top: 161px;
        right: 6px;
    }
    .map-img ul li:nth-child(5) a img {
        width: 90px;
    }
    .map-img ul li:nth-child(5) a {
        top: 126px;
        right: 144px;
    }
    .map-img ul li:nth-child(6) a {
        top: 140px;
        right: 78px;
    }
    .map-img ul li:nth-child(6) a img {
        width: 100px;
    }
    .map-img ul li:nth-child(9) a {
        top: 192px;
        right: 35px;
    }
    .map-img ul li:nth-child(9) a img {
        width: 90px;
    }
    .map-img ul li:nth-child(10) a {
        top: 203px;
        right: 84px;
    }
    .map-img ul li:nth-child(10) a img {
        width: 75px;
    }
    .map-img ul li:nth-child(11) a {
        top: 216px;
        left: -44px;
    }
    .map-img ul li:nth-child(11) a img {
        width: 88px;
    }
    .map-img ul li:nth-child(12) a {
        top: 222px;
        right: 153px;
    }
    .map-img ul li:nth-child(12) a img {
        width: 83px;
    }
    .map-img ul li:nth-child(13) a {
        top: 253px;
        left: -26px;
    }
    .map-img ul li:nth-child(13) a img {
        width: 79px;
    }
    .map-img ul li:nth-child(8) a img {
        width: 120px;
    }
    .map-img ul li:nth-child(8) a {
        top: 207px;
        right: 27px;
    }
    .map-img ul li:nth-child(16) a {
        top: 281px;
        right: 47px;
    }
    .map-img ul li:nth-child(16) a img {
        width: 116px;
    }
    .map-img ul li:nth-child(15) a {
        top: 290px;
        right: 91px;
    }
    .map-img ul li:nth-child(15) a img {
        width: 123px;
    }
    .map-img ul li:nth-child(14) a {
        top: 272px;
        right: 3px;
    }
    .map-img ul li:nth-child(14) a img {
        width: 115px;
    }
    .map-img ul li:nth-child(18) a {
        top: 342px;
        right: 145px;
    }
    .map-img ul li:nth-child(18) a img {
        width: 71px;
    }
    .map-img ul li:nth-child(17) a {
        top: 351px;
        right: 39px;
    }
    .map-img ul li:nth-child(17) a img {
        width: 145px;
    }
    .map-img ul li:nth-child(25) a {
        top: 341px;
        right: 1px;
    }
    .map-img ul li:nth-child(25) a img {
        width: 95px;
    }
    .map-img ul li:nth-child(28) a {
        top: 351px;
        right: -89px;
    }
    .map-img ul li:nth-child(28) a img {
        width: 113px;
    }
    .map-img ul li:nth-child(19) a {
        top: 405px;
        right: 111px;
    }
    .map-img ul li:nth-child(19) a img {
        width: 95px;
    }
    .map-img ul li:nth-child(23) a {
        top: 378px;
        right: 66px;
    }
    .map-img ul li:nth-child(23) a img {
        width: 88px;
    }
    .map-img ul li:nth-child(20) a {
        top: 431px;
        right: 85px;
    }
    .map-img ul li:nth-child(20) a img {
        width: 85px;
    }
    .map-img ul li:nth-child(27) a {
        top: 388px;
        right: -57px;
    }
    .map-img ul li:nth-child(27) a img {
        width: 93px;
    }
    .map-img ul li:nth-child(29) a {
        top: 381px;
        right: -78px;
    }
    .map-img ul li:nth-child(29) a img {
        width: 65px;
    }
    .map-img ul li:nth-child(21) a {
        top: 448px;
        right: 46px;
    }
    .map-img ul li:nth-child(21) a img {
        width: 83px;
    }
    .map-img ul li:nth-child(24) a {
        top: 419px;
        right: 17px;
    }
    .map-img ul li:nth-child(24) a img {
        width: 77px;
    }
    .map-img ul li:nth-child(26) a {
        top: 408px;
        right: -51px;
    }
    .map-img ul li:nth-child(26) a img {
        width: 95px;
    }
    .map-img ul li:nth-child(22) a {
        top: 471px;
        right: -38px;
    }
    .map-img ul li:nth-child(22) a img {
        width: 135px;
    }

    .searchBar .input-group{
        display: block;
    }
    .searchBar .input-group {
        border-radius: 10px;
        margin: 7px 0;
        height: 56px;
    }
    .searchBar .input-group input[type='text']{
        border-radius: 0px 0px 10px 10px;
        border-top: 1px solid #ed2024;
    }
    .searchBar .input-group-btn {
        display: block;
        width: 50% !important;
        float: left;
    }
    .searchBar .input-group .icon-box:before{
        top: 32px;
    }
    .city-box{
        border-right: none !important;
    }
    .main-menu .navbar-search button {
        border-radius: 0 10px 0 0;
    }
    .place-box button{
        border-radius: 10px 0 0 0 !important;
    }
    .event-fixed-bar{
        top: 205px;
    }
    .event-fixed-bar.just-box{
        top: 277px;
    }
    .event-fixed-bar.offer-box{
        top: 338px;
    }

    .eventShow{
        top: 0;
    }
    .namma-box {
        top: 253px;
    }
    .social-sidebar {
        top: 362px;
    }
    .namma-slides {
        top: 195px;
    }
    .social-sidebar.marginTop {
        top: 412px;
    }
    .main-menu ul li {
        margin-left: 3px;
    }
    .business-btn{
        padding: 2px 5px !important;
    }
    .main-menu ul li a {
        font-size: 11px;
    }
    .about-btn{
        padding: 2px 4px !important;
    }
}























