@font-face {
    font-family: 'TrebuchetMS';
    src: url('../fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'), url('../fonts/TrebuchetMS.woff') format('woff'), url('../fonts/TrebuchetMS.ttf') format('truetype'), url('../fonts/TrebuchetMS.svg#TrebuchetMS') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff !important;
    line-height: 1;
    font-family: 'TrebuchetMS';
}

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style: none;
    color: #000;
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    outline: 0 !important;
    transition: all 0.5s ease-in-out;
}

a:focus, a:hover, a:active {
    outline: 0;
    box-shadow: 0;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input, select {
    vertical-align: middle
}

.home-body{
    overflow-x: hidden;
}

/*====== Custom Styles =======*/

.main-menu .navbar-default .navbar-brand {
    height: auto;
    /*padding: 12px 15px;*/
}
.main-menu .navbar-default{
    background-color: transparent;
    border: none;
    border-radius: 0;
    z-index: 9999999;
    padding-top: 5px;
}
.main-menu .navbar-default.bg_change{
    background-color: rgba(255, 255, 255, 0.94) !important;
    border-bottom: 1px solid #ed2024;
    
}
.main-menu {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 1000;
    padding: 14px 0 0;
}
.main-menu .navbar{
    margin-bottom: 10px;
}
.search-sec {
    margin-top: 70px;
}
.navbar .navbar-search .dropdown-menu {
    min-width: 25px;
}

.dropdown-menu .label-icon {
    margin-left: 5px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.main-menu .navbar-search button {
    border-radius: 0;
    border: none;
    background-color: #ffffff;
    box-shadow: none;
    height: 27px;
    padding: 3px 5px;
}
.main-menu ul li a img{
    height: 28px;
    object-fit: cover;
}

.logo-box {
    display: table;
    margin: 0 auto;
}

.main-menu .navbar-form {
    padding: 0px;
    margin: 0;
}

.place-box, .city-box {
    width: 116px !important;
    position: relative;
    border-right: 1px solid #ed2024 !important;
}

.place-box button, .city-box button {
    width: 100%;
}

.place-box button:before {
    content: '\f041';
    font-family: FontAwesome;
    position: absolute;
    left: 10px;
    font-size: 20px;
    top: 0;
    color: #7e7e7e;
}

.place-box button {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    padding-left: 23px;
}

.searchBar .input-group {
    width: 100%;
    border: 1px solid #ed2024;
    border-radius: 20px;
    margin: 7px 0;
}

.searchBar .input-group input[type='text'] {
    box-shadow: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    height: 27px;
    width: 100%;
    padding-right: 35px;
}

.icon-box {
    position: relative;
}

.searchBar .input-group .icon-box:before {
    content: '\f002';
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    font-size: 16px;
    top: 5px;
    color: #7e7e7e;
    z-index: 100;
}

.business-btn {
    background-color: #ed2024;
    color: #ffffff !important;
    border-radius: 20px;
    padding: 2px 8px !important;
    border: 1px solid #ed2024;
    width: 125px;
    text-align: center;
}

.business-btn:hover,.about-btn:hover {
    background-color: #ffffff;
    color: #ed2024 !important;
}

.about-btn{
    background-color: #ed2024;
    color: #ffffff !important;
    border-radius: 20px;
    padding: 2px 6px !important;
    margin-left: 10px;
    border: 1px solid #ed2024;
    width: 70px;
    text-align: center;
}

.main-menu ul li a {
    /*color: #080708;*/
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none !important;
}

.right-menu ul li:nth-of-type(2) a,
.right-menu ul li:nth-of-type(3) a {
    padding: 8px 6px;
    display: block;
}

.mobile-menu-main{
    position: relative;
}

/*Banner Section
---------------------------------*/

.header-bg {
    background: url("../img/banner-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    height: 815px;
    position: relative;
}

.sidebar-main{
    width: 250px;
    position: absolute;
    left: 0;
    z-index: 999999;
}
.sidebar-box {
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: -35px;
}

.event-box h3 {
    font-size: 22px;
    text-transform: capitalize;
    text-align: center;
    padding: 0px 0 8px;
    border-bottom: 1px solid #ed2024;
    cursor: pointer;
}

.event-btns {
    padding: 0 10px;
}

.event-btns ul li:first-child,
.event-btns ul li.select-event {
    float: left;
    width: 48%;
}

.event-btns ul li.select-event {
    float: right;
}

.event-btns ul li:first-child a {
    text-align: center;
    width: 100%;
    font-size: 10px;
    text-transform: capitalize;
    text-decoration: none !important;
    background-color: #ed2024;
    border-radius: 4px;
    display: block;
    color: #ffffff;
    height: 21px;
    padding: 0;
    line-height: 20px;
}

.event-box ul li .btn-group .btn:first-child {
    text-align: center;
    width: 100%;
    font-size: 10px;
    text-decoration: none !important;
    background-color: #ed921c;
    border-radius: 4px;
    display: block;
    color: #ffffff;
    border: none;
    height: 21px;
    padding: 0 5px;
    box-shadow: none;
}

.event-box .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center;
}

.event-box .bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 22%;
}

.event-box .bootstrap-select.btn-group .dropdown-menu li a {
    font-size: 10px;
    color: #ed2024;
}

.event-box .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.event-box, .user-pro {
    padding: 10px 0;
    border: 1px solid #ed2024;
    border-radius: 0px 15px 15px 0px;
    display: inline-block;
    width: 100%;
    background: #fff;
}

.event-slider {
    padding: 10px;
}

#eventSlider .owl-nav.disabled + .owl-dots,
#eventSliders .owl-nav.disabled + .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
}

.test-detail img {
    height: 126px;
    object-fit: cover;
    position: relative;
}

#eventSlider .owl-dots .owl-dot span,
#eventSliders .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #080708;
    border: 1px solid #ffffff;
}

#eventSliders .owl-dots .owl-dot.active span ,
#eventSlider .owl-dots .owl-dot.active span {
    background-color: #ffffff;
    border-color: #080708;
}

.slide-bottom-box{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(8, 7, 8, 0.57);
}
.slide-bottom-box span{
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 10px 0 25px;
}

.event-slider .owl-dots{
    margin-top: -20px;
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
}

.user-pro {
    background-color: #ffffff;
    padding-top: 0;
    margin-top: 10px;
}

.user-pro .tab-content {
    padding: 10px;
}
.map-right{
    padding-left: 250px;
}
img.map {
    width: 400px;
    margin-top: 30px;
}
.map-img {
    max-width: 473px;
    height: 690px;
    margin: auto;
	position: relative;
}
.user-box ul li {
    float: left;
    display: inline-block !important;
    width: 100%;
    padding: 10px 0 !important;
    border-top: 1px solid rgba(112, 112, 173, 0.44);
	height:48px;
}
.user-box ul li:first-child{
    border-top: none;
}

.user-box ul li a {
    text-decoration: none !important;
	display: initial!important;
}

.user-box ul li a .user-img {
    float: left;
}

.user-box ul li a .user-img img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #080708;
}
#Offers #news-container1 ul li{
	margin:0;
}

#news-container1 ul li{
    /*margin: 10px 0 15px !important;*/
    display: inline-block;
    width: 100%;
    float: left;
}

.user-box ul li a .user-comment {
    overflow: hidden;
}

.user-box ul li a .user-comment p {
    font-size: 13px;
    text-transform: capitalize;
    color: #080708;
    margin-left: 13px;
}

.user-box ul li a .user-comment span {
    font-size: 12px;
    color: rgba(112, 112, 173, 0.44);
    text-align: left;
    float: left;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-left: 13px;
}
.user-box ul li a .user-comment span:before {
    content: '\f111';
    font-family: FontAwesome;
    font-size: 6px;
    vertical-align: middle;
    margin-right: 2px;
    position: relative;
    top: -1px;
}


.user-pro .nav-tabs {
    border-bottom: none;
    border-bottom: 1px solid #ed2024 !important;;
}

.user-pro .nav-tabs li a {
    border: none !important;
    border-radius: 0;
    box-shadow: none;
    font-size: 26px;
    text-transform: capitalize;
    color: rgb(192, 191, 192) !important;

    background-color: transparent !important;
}

.user-pro .nav-tabs li.active a {
    color: #080708 !important;
}

.user-pro .nav-tabs li:first-child a {
    border-right: 1px solid #ed2024 !important;
}

.user-box {
    height: 400px !important;
}

/*Trending category section
----------------------------------*/
.trend-cat, .brand-sec {
    padding: 45px 0;
    background-color: rgb(255, 255, 250);
}

.trend-cat h2, .brand-sec h2 {
    font-size: 45px;
    text-transform: capitalize;
    color: #080708;
    text-align: center;
    margin-bottom: 45px;
    position: relative;
    padding-bottom: 20px;
}
.trend-cat h2{
    margin-bottom: 20px;
}
.trend-cat h2:before, .brand-sec h2:before{
    content: '';
    width: 60px;
    height: 5px;
    display: block;
    background-color: #e91f23;
    position: absolute;
    bottom: 0;
    left: 47%;
    -webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    -o-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
}

.cat-box {
    position: relative;
    border: 1px solid rgba(8, 7, 8, 0.57);
    border-radius: 20px;
    margin-top: 25px;

}

.cat-box img {
    border-radius: 20px;
    height: 186px;
    object-fit: cover;
    width: 100%;
}

.cat-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(8, 7, 8, 0.57);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cat-bottom a {
    margin: 16px 0;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    display: block;
    text-decoration: none !important;
    color: #ffffff;
}

.cat-box:hover .cat-bottom {
    background-color: rgba(255, 255, 255, 0.75);
}

.cat-box:hover a {
    color: #080708;
}

.trend-cat .swiper-button-prev,.trend-cat .swiper-button-next{
    background-image: none;
    height: 80px;

}

.trend-cat .swiper-button-prev{
 left: -33px;

}
.trend-cat .swiper-button-next{

    right: -33px;
}
.trend-cat .swiper-button-prev:after{
    content: '\f104';
    font-family: FontAwesome;
    font-size: 80px;
    color: #ed2024;

}
.trend-cat .swiper-button-next:after{
    content: '\f105';
    font-family: FontAwesome;
    font-size: 80px;
    color: #ed2024;
}

/*Branding Section
------------------------------------*/

.brand-detail img {
    height: 165px;
    object-fit: cover;
    width: 100%;
}

#brandSlider .owl-nav.disabled{
    display: block;
}



/*City Slider Section
----------------------------------*/

.city-sec {
    border-bottom: 8px solid #ffffff;
}

#citySlider.owl-carousel {
    position: relative;
    height: 100%;
}

#citySlider.owl-carousel .owl-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh !important;

}

#citySlider .owl-nav,
#brandSlider .owl-nav,
#category-box .owl-nav,
#trend-cat .owl-nav,
#eventSlider .owl-nav ,
#eventSliders .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


#citySlider.owl-carousel .owl-slide1 {
    background-image: url("../img/city-img1.jpg");

}

#citySlider.owl-carousel .owl-slide2 {
    background-image: url("../img/city-img2.png");

}

#citySlider.owl-carousel .owl-slide3 {
    background-image: url("../img/city-img3.jpg");

}


#citySlider.owl-carousel .owl-controls .owl-buttons div {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    zoom: 1;
    margin: 0;
    width: 50px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    font-size: .9em;
    border-radius: 3px;
    color: #FFF;
    background: #000;
    opacity: .6;
    text-transform: capitalize;
}

#citySlider.owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: 5px;
    position: absolute;
}

#citySlider.owl-carousel .owl-controls .owl-buttons .owl-next {
    right: 5px;
    position: absolute;
}

#citySlider .owl-slide {
    width: 100%;
    padding: 0;
    display: table;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

#citySlider .middle {
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
}

#citySlider .owl--text {
    width: 100%;
    height: auto !important;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    z-index: 1;
    position: relative;
}

#citySlider .owl-item {
    height: 90vh !important;
}

#citySlider .owl--text h1 {
    margin-bottom: 20px;
    font-size: 60px;
    color: #ffffff;
    text-transform: capitalize;
}

#citySlider .owl--text p {
    font-size: 23px;
    color: #ffffff;
}

#eventSlider .owl-prev,
#eventSliders .owl-prev,
#category-box .owl-prev,
#brandSlider .owl-prev,
#trend-cat .owl-prev,
#citySlider .owl-prev {
    float: left;
    background: transparent;
    text-align: center;
    margin-left: 5px;
    border-radius: 2px;
    color: #fff;
    font-size: 80px;
    line-height: 1.15em;
    -webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    -o-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
}

#eventSlider .owl-next,
#eventSliders .owl-next,
#trend-cat .owl-next,
#category-box .owl-next,
#brandSlider .owl-next,
#citySlider .owl-next {
    float: right;
    background: transparent;
    text-align: center;
    margin-right: 5px;
    border-radius: 2px;
    color: #fff;
    font-size: 80px;
    line-height: 1.15em;
    -webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    -o-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
}
#brandSlider .owl-next,
#trend-cat .owl-next,
#trend-cat .owl-prev,
#brandSlider .owl-prev{
    color: #ed2024;
}

#category-box .owl-next,
#category-box .owl-prev{
    color: #ffffff;
    font-size: 25px;
}
#category-box .owl-next{
    right: -45px;
}
#category-box .owl-prev{
    left: -45px;
}

#eventSlider .owl-next,#eventSlider .owl-prev,
#eventSliders .owl-next,#eventSliders .owl-prev{
    font-size: 25px;
    line-height: normal;
    margin: 0;
    padding: 5px;
}
.owl-carousel .owl-stage-outer{
    z-index: 1;
}
#trend-cat .owl-prev,
#brandSlider .owl-prev{
    left: -60px;
}
#trend-cat .owl-next,
#brandSlider .owl-next{
    right: -60px;
}

/*Widget Section
---------------------------------*/

.widget-sec {
    background-color: #ED921C;
    padding-top: 30px;
    padding-bottom: 5px;
}

.widget-sec h4 {
    color: #ffffff;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 6px;
}

.widget-box ul li {
    margin: 4px 0;
    display: inline-block;
    width: 100%;
}

.widget-box ul li a {
    text-decoration: none !important;
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
}
.widget-box ul li a:hover{
    color: #080708;
}

.paymentMmode ul li {
    float: left;
}

.paymentMmode ul li a {
    background-color: #ffffff;
    display: block;
    margin-top: 10px;
    margin-right: 10px;
}

.paymentMmode ul li a img {
    width: 50px;
    height: 25px;
    object-fit: cover;
}

.note-p{
    font-size: 10px;
    color: #ffffff;
    text-align: right;
    margin-bottom: 5px;
}

.category-box .cat-box h4{
    font-size: 15px;
    position: relative;
    margin-bottom: 10px;
}
.category-box .cat-box h4:before{
    content: '';
    width: 10px;
    height: 10px;
    background: url("../img/cat-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    float: left;
    margin-top: 4px;
    margin-right: 10px;
}
.category-box .cat-box{
    border: none;
}
.category-box .cat-box p {
    font-size: 12px;
    color: #fff;
    padding-left: 40px;
}
.category-box {
    margin: 30px 0;
    padding: 15px 45px;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.16);
}
.category-box .swiper-button-prev,.category-box .swiper-button-next{
    background-image: none !important;
    height: 30px;

}

.category-box .swiper-button-prev{
    left: 24px;

}
.category-box .swiper-button-next{

    right: 8px;
}
.category-box .swiper-button-prev:after{
    content: '\f104';
    font-family: FontAwesome;
    font-size: 30px;
    color: #ffffff;

}
.category-box .swiper-button-next:after{
    content: '\f105';
    font-family: FontAwesome;
    font-size: 30px;
    color: #ffffff;
}

/*Footer Section
------------------------------------*/
.dividerLine {
    display: block;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 0;
}
.footer-sec {
    padding: 22px 0 18px;
    background-color: rgb(237, 28, 36);
    position: relative;
}
.footer-box ul li{
    float: left;
    position: relative;
}

.footer-box ul li:after{
  content:'';
    border-right: 1px solid #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}
.footer-box ul li:last-child:after{
    display: none;
}
.footer-box ul li:last-child a{
    cursor: auto;
    pointer-events: none;
}
.footer-box ul li a{
    text-decoration: none !important;
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
}
.footer-box ul li a:hover{
    color: #080708;
}
.footer-social ul {
    float: right;
}
.footer-social ul li{
    float: left;
    margin-left: 40px;
}

.footer-social ul li a{
    color: #ffffff;
    text-decoration: none !important;
}

.footer-social ul li a:hover i{
    color: #080708;
}


.map-img ul li:nth-child(1) a img {
    width: 97px;
}
.map-img ul li a img{
	-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
	position: relative;
}
.map-img ul li a span:hover + img {
    -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
	z-index: 11 !important;
}

.map-img ul li a{
	position: absolute;
}
.map-img ul li a span {
    content: "";
    display: block;
    width: 70%;
    height:70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
	z-index: 1111;
}
.map-img ul li:nth-child(1) a {
    top: 29px;
    right: 145px;
}
.map-img ul li:nth-child(2) a {
    top: 90px;
    right: 148px;
}
.map-img ul li:nth-child(2) a img {
    width: 150px;
}
.map-img ul li:nth-child(3) a {
    top: 118px;
    right: 229px;
}
.map-img ul li:nth-child(3) a img {
    width: 140px;
	    z-index: 1;
}
.map-img ul li:nth-child(4) a {
    top: 172px;
    right: 154px;
}
.map-img ul li:nth-child(4) a img {
    width: 120px;
}
.map-img ul li:nth-child(5) a {
    top: 165px;
    right: auto;
    left: 1px;
}
.map-img ul li:nth-child(5) a img {
    width: 124px;
}
.map-img ul li:nth-child(6) a {
    top: 185px;
    right: 268px;
}
.map-img ul li:nth-child(6) a img {
    width: 125px;
    z-index: 1;
}
.map-img ul li:nth-child(7) a {
    top: 204px;
    right: 161px;
}
.map-img ul li:nth-child(7) a img {
    width: 119px;
}
.map-img ul li:nth-child(8) a {
    top: 269px;
    right: 197px;
}
.map-img ul li:nth-child(8) a img {
    width: 140px;
}
.map-img ul li:nth-child(9) a {
    top: 252px;
    right: 217px;
}
.map-img ul li:nth-child(9) a img {
    width: 109px;
	z-index: 1;
}
.map-img ul li:nth-child(10) a {
    top: 266px;
    right: 280px;
}
.map-img ul li:nth-child(10) a img {
    width: 85px;
	z-index: 1;
}
.map-img ul li:nth-child(11) a {
    top: 279px;
    right: auto;
    left: 61px;
}
.map-img ul li:nth-child(11) a img {
    width: 103px;
    z-index: 1;
}
.map-img ul li:nth-child(12) a {
    top: 297px;
    right: auto;
    left: -1px;
    z-index: 11;
}
.map-img ul li:nth-child(12) a img {
    width: 110px;
	z-index: 1;
}
.map-img ul li:nth-child(13) a {
    top: 326px;
    right: auto;
    left: 85px;
    z-index: 10;
}
.map-img ul li:nth-child(13) a img {
    width: 86px;
    z-index: 1;
}
.map-img ul li:nth-child(14) a {
    top: 346px;
    right: 165px;
}
.map-img ul li:nth-child(14) a img {
    width: 137px;
    z-index: 1;
}

.map-img ul li:nth-child(15) a {
    top: 367px;
    right: 278px;
    z-index: 10;
}
.map-img ul li:nth-child(15) a img {
    width: 150px;
    z-index: 1;
}
.map-img ul li:nth-child(16) a {
    top: 356px;
    right: 219px;
}
.map-img ul li:nth-child(16) a img {
    width: 137px;
    z-index: 1;
}

.map-img ul li:nth-child(17) a {
    top: 440px;
    right: 217px;
    z-index: 10;
}
.map-img ul li:nth-child(17) a img {
    width: 177px;
    z-index: 1;
}
.map-img ul li:nth-child(18) a {
    top: 432px;
    right: 351px;
    z-index: 11;
}
.map-img ul li:nth-child(18) a img {
    width: 84px;
    z-index: 1;
}
.map-img ul li:nth-child(19) a {
    top: 506px;
    right: 298px;
    z-index: 11;
}
.map-img ul li:nth-child(19) a img {
    width: 120px;
    z-index: 1;
}
.map-img ul li:nth-child(20) a {
    top: 545px;
    right: 261px;
    z-index: 10;
}
.map-img ul li:nth-child(20) a img {
    width: 103px;
    z-index: 1;
}
.map-img ul li:nth-child(21) a {
    top: 571px;
    right: 211px;
}
.map-img ul li:nth-child(21) a img {
    width: 103px;
    z-index: 1;
}
.map-img ul li:nth-child(22) a {
    top: 597px;
    right: 101px;
}
.map-img ul li:nth-child(22) a img {
    width: 172px;
    z-index: 1;
}
.map-img ul li:nth-child(23) a {
    top: 472px;
    right: 240px;
    z-index: 10;
}
.map-img ul li:nth-child(23) a img {
    width: 115px;
    z-index: 1;
}
.map-img ul li:nth-child(24) a {
    top: 530px;
    right: 178px;
    z-index: 13;
}
.map-img ul li:nth-child(24) a img {
    width: 100px;
    z-index: 1;
}
.map-img ul li:nth-child(25) a {
    top: 432px;
    right: 160px;
    z-index: 12;
}
.map-img ul li:nth-child(25) a img {
    width: 112px;
    z-index: 1;
}
.map-img ul li:nth-child(26) a {
    top: 521px;
    right: 95px;
    z-index: 12;
}
.map-img ul li:nth-child(26) a img {
    width: 120px;
    z-index: 1;
}
.map-img ul li:nth-child(27) a {
    top: 487px;
    right: 87px;
    z-index: 11;
}
.map-img ul li:nth-child(27) a img {
    width: 120px;
    z-index: 1;
}
.map-img ul li:nth-child(28) a {
    top: 442px;
    right: 49px;
    z-index: 10;
}
.map-img ul li:nth-child(28) a img {
    width: 140px;
    z-index: 1;
}
.map-img ul li:nth-child(29) a {
    top: 475px;
    right: 57px;
}
.map-img ul li:nth-child(29) a img {
    width: 86px;
    z-index: 1;
}

.place-popup{
    position: absolute;
    left: 0;
    right: 0;
    background-color: green;
    display: block;
    height: 300px;
    width: 400px;
    border-radius: 30px;
    top: 0;
    z-index: 1000;
}
.place-popup ul li{
    float: left;
    width: 100%;
}
.place-popup ul li a{
    width: auto !important;
    display: block;
    position: inherit;
}

/*Fixed Sidebar Social
------------------------------*/

.namma-box{
    position: fixed;
    right: -85px;
    top: 165px;
    -webkit-transform: rotate(270deg);
    -moz-transform:rotate(270deg) ;
    -ms-transform:rotate(270deg) ;
    -o-transform:rotate(270deg) ;
    transform: rotate(270deg);
    background-color: #ffffff;
    padding: 12px 12px 20px;
    border: 1px solid #ed2024;
    border-radius: 15px 15px 0px 0px;
    z-index: 1000;
}
.namma-box.openSlide{
    right: -1000px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all  .5s ease-in-out;
    -ms-transition: all .5s  ease-in-out;
    -o-transition: all .5s  ease-in-out;
    transition: all .5s  ease-in-out;
}

.namma-box ul li a{
   color: #080708;
    font-size: 22px;
    text-transform: capitalize;
    text-decoration: none !important;
}

.namma-slides{
    position: fixed;
    right: -1000px;
    top: 90px;
    width: 250px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all  .5s ease-in-out;
    -ms-transition: all .5s  ease-in-out;
    -o-transition: all .5s  ease-in-out;
    transition: all .5s  ease-in-out;
    z-index: 1000;

}


.namma-slides .sidebar-box{
    margin-top: 0;
}
.namma-slides .sidebar-box .event-box{
    border-radius: 15px 0px 0px 15px;
}

.namma-slides.openSlides{
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all  .5s ease-in-out;
    -ms-transition: all .5s  ease-in-out;
    -o-transition: all .5s  ease-in-out;
    transition: all .5s  ease-in-out;
}

/*Social Fixed Bar*/
.social-sidebar{
    position: fixed;
    right: -3px;
    top: 303px;
    padding: 2px 6px 5px;
    border: 1px solid #ed2024;
    border-radius: 15px 0px 0px 15px;
    background-color: #fff;
    z-index: 1000;
}
.social-sidebar.marginTop{
    top: 320px;
}

.social-sidebar ul li a {
    margin-top: 5px;
    display: block;
}

.visitor-box{
    position: fixed;
    right: -61px;
    background-color: #ffffff;
    top: 577px;
    border: 1px solid #ed2024;
    border-radius: 10px 0px 0px 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all  .5s ease-in-out;
    -ms-transition: all .5s  ease-in-out;
    -o-transition: all .5s  ease-in-out;
    transition: all .5s  ease-in-out;
    z-index: 1000;
}
.visitor-box.showVisits{
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all  .5s ease-in-out;
    -ms-transition: all .5s  ease-in-out;
    -o-transition: all .5s  ease-in-out;
    transition: all .5s  ease-in-out;
}
.visitor-box ul li{
    float: left;
}
.visitor-box ul li a{
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
    color: #080708;
    padding: 10px 3px;
    display: block;
}
.visitor-box ul li:last-child a{
    font-weight: bold;
    border-left: 1px solid #ed2024;
    font-size: 15px;
    padding: 9px 10px;
}


/*...................*/

.popover {max-width:250px;}

.popover-content{
    padding: 15px;
    display: inline-block;
    width: 100%;
    z-index: 1000;
}
.popover-content ul li{
    float: left;
    width: 50%;
    position: relative;
    padding: 5px 0;
}
.popover-content ul li:before{
    content: '\f111';
    font-family: FontAwesome;
    color: #080708;
    font-size: 14px;
    margin-right: 5px;

}
.popover-content ul li a:hover {
    color: #ED2024 !important;
}
.popover-content ul li a{
    font-size: 14px;
    color: #080708;
    text-transform: capitalize;
    font-family: 'TrebuchetMS';
    text-decoration: none !important;
}
.popover-content h5{
    font-size: 22px;
    color: #080708;
    text-transform: capitalize;
    font-family: 'TrebuchetMS';
    text-decoration: none !important;
    text-align: center;
    margin-bottom: 5px;
}

.popover-content ul li:last-child:before{
    display: none;
}
.popover-content ul li .knowMore-btn{
    width: 90px;
    height: 19px;
    background-color: #ED2024;
    border-radius: 30px;
    font-size: 10px;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
    line-height: 18px;
    display: block;
    border: 1px solid  #ED2024;
    margin-top: 20px;
}

.popover-content ul li .knowMore-btn:hover{
    background-color: #ffffff;
    color: #ED2024;

}

.popover.bottom {
    margin-top: -20px;
    background: rgba(255, 255, 255, 0.94);
    z-index: 99999;
}
.crossIcon {
    color: #ED2024;
    border-radius: 10px;
    display: none;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    font-size: 18px;
    float: right;
    margin-top: -11px;
}